/* Here are Colors variables */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Components */
header {
  position: relative;
  width: 100vw;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
}
header .multi-lang {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
header .multi-lang .text {
  font-size: 16px;
  font-family: "Architects Daughter", sans-serif;
  font-display: swap;
}
header .multi-lang .icon {
  margin-left: 10px;
}
header .multi-lang .langs {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  transform: translateY(calc(100% + 10px));
  transition: height 0.3s;
}
header .multi-lang .langs.active {
  display: block;
}
header .multi-lang .langs .lang {
  position: relative;
  font-size: 16px;
  font-family: "Architects Daughter", sans-serif;
  font-display: swap;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 15px;
  cursor: pointer;
}
header .burger-btn {
  position: relative;
  margin-block: 20px;
  cursor: pointer;
  display: flex;
  border: 0.5px solid transparent;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  transition: border 0.3s;
}
header .burger-btn:hover {
  border: 0.5px solid black;
}
header .navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-radius: 0 0 0 100vw;
  transition: all 0.3s;
  overflow: auto;
}
header .navbar.active {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
header .navbar .navbar-exit,
header .navbar .navbar-link {
  position: relative;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-block: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
header .navbar .navbar-exit .text,
header .navbar .navbar-link .text {
  font-size: 20px;
  font-family: "Architects Daughter", sans-serif;
  font-display: swap;
}
header .navbar .navbar-exit .icon,
header .navbar .navbar-link .icon {
  margin-left: 20px;
}

@media screen and (min-width: 1024px) {
  header {
    display: none;
  }
}
.floating-navbar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .floating-navbar {
    position: absolute;
    top: 50vh;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: rgba(37, 55, 64, 0.4784313725);
    transform: translateY(-50%);
    border-radius: 13px;
    border: 1px solid white;
  }
  .floating-navbar * {
    font-family: "Architects Daughter", sans-serif;
    font-display: swap;
  }
  .floating-navbar .link {
    position: relative;
    margin-block: 5px;
    color: #fff;
  }
  .floating-navbar .link .icon {
    cursor: pointer;
  }
  .floating-navbar .link .info {
    display: none;
  }
  .floating-navbar .link .info.active {
    position: absolute;
    top: 0;
    right: -10px;
    transform: translateX(calc(100% + 20px)) translateY(0);
    background-color: rgba(37, 55, 64, 0.4784313725);
    width: -moz-max-content;
    width: max-content;
    height: 26px; /* Raha sendra mamaky an'ity lah de 26px ny taille anle icon */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 8px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #fff;
  }
  .floating-navbar .link .info.active::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    transform: translateY(8px) translateX(-5px) rotateZ(-45deg);
    background-color: #fff;
    z-index: -100;
  }
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding-block: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .facebook-icon {
  margin-right: 15px;
}
footer .input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .input-container #suggestion-input {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: "Architects Daughter", sans-serif;
  font-display: swap;
  width: 150px;
}

@media screen and (min-width: 1024px) {
  footer {
    justify-content: flex-end;
    padding-right: 12.5vw;
    padding-bottom: 35px;
  }
}/*# sourceMappingURL=main.css.map */